body{
margin: 0px;
padding:0px;
font-family: open sans;
background-color: rgb(231, 231, 231)
}

header{
    grid-area: header;
    background-color: rgb(37, 82, 123);
    color: white;
    text-align: center;
    font-weight: 550;
    height: 10vh;

    }
    menu{
    grid-area: menu;
    background-color: rgb(231, 231, 231);
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 16vw;
  height: 80vh;
    margin: 0px;
    padding-left:30px;
    padding-top: 20px;
    line-height: 5px;
    
    }
    
    main{
    grid-area: main;
    background-color: rgb(231, 231, 231);
    width:auto;
    height: 100%;
    
    }
    footer{
    grid-area: footer;
    background-color: white;
    color: rgb(83, 83, 83);
    text-align: center;
    height: 10vh;
    }
    .text-light{
    color: grey;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-areas:
        "header header"
        "menu main"
        "footer footer";
        }
    
        .products {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        margin: 20px;
        justify-items: center;
        align-items: center;
            }
    
    .cards{
    width: 300px;
    height: 450px;
    background-color: white;
    text-align: center;
    }

    .cards2{
    width: 300px;
    height: 550px;
    background-color: white;
    text-align: center;
    
    }
    .imagen{
    width: 100%;
    }
    .text-button{
      background-color:  rgb(37, 82, 123);
      color: white;
      padding: 15px;
    }
